@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 95%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --success: 120 80% 40%;
    --success-foreground: 0 0% 100%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: 224 71% 5%; */
    --background: 220 40% 10%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    /* --border: 216 34% 17%; */
    --border: 216 34% 25%;
    /* This is not being used. Using just border gives a consistent look and has better contrast in dark mode */
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    /* --destructive: 0 63% 31%; */
    --destructive: 0 76.66% 57.25%;
    --destructive-foreground: 210 40% 98%;

    --success: 123 45% 35%; /* From 45% to 35% */
    --success-foreground: 210 40% 88%; /* From 98% to 88% */

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  .link {
    @apply text-primary underline underline-offset-4 text-sky-500 hover:text-sky-600;
  }
}

/* Makes the password discs bigger */
input[type='password'] {
  -webkit-text-stroke-width: 0.2em;
  letter-spacing: 0.2em;
}

/* Hide input controls for number type inputs */
/*  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/**
 * react-toastify styles overrides
 */

.Toastify__toast-theme--dark {
  background-color: hsl(var(--card)) !important;
}

.Toastify__toast-theme--dark.Toastify__toast--error {
  background-color: hsl(var(--card)) !important;
  /* background-color: #5e1111 !important; */
}

.Toastify__toast-theme--dark.Toastify__toast--success {
  background-color: hsl(var(--card)) !important;
  /* background-color: #0c3b16 !important; */
}

.Toastify__toast-container {
  max-width: 420px !important;
  width: 100% !important;
}

.Toastify__toast-icon {
  width: 24px !important;
  margin-right: 1rem !important;
}

.Toastify__close-button {
  margin-top: 4px !important;
}

.Toastify__close-button,
.Toastify__close-button > svg {
  width: 22px !important;
  height: 22px !important;
}
